*{
    box-sizing: border-box;
}
.row{
    border: 1px solid red;
    height: 150px;
    font-size: 0px;
}
.col{
    border: 2px solid black;
    height: 100%;
    width: 33.33%;
    display: inline-block;
}
.col2{
    border: 2px solid black;
    height: 100%;
    width: 50%;
    display: inline-block;
}
.row2{
    border: 2px solid red;
    width: 100%;
    height: 50%;
    border-top: 0px;
}
.row3{
    border: 2px solid red;
    width: 100%;
    height: 33.33%;
    border-top: 0px;
}
.col3{
    border: solid black 2px;
    height: 100%;
    width: 40%;
    display: inline-block;
}
.col4{
    border: solid black 2px;
    height: 100%;
    width: 60%;
    display: inline-block;
}
.container{
    border: black 1px solid;
}
.container>div{
    border: red solid 1px;
    width: 200px;
    height: 25px;
}
.a{
    float: left;
}
.b{
    float: left;
}
.c{
    float: right;
}


