div{
    position: relative;
    border: 1px solid red;

}
._1{
    color: red;
    position: relative;
    z-index: 1px;
}
.a{
    border: 1px yellow solid;
    position: relative;
    z-index: 3px;
    top: -25px;
    right: 50px;
    

}


#a{
    font-family:'Roboto', sans-serif;
     font-size: 25px;
     
     
     
     
 }
#b{
  
    text-decoration: underline;
    font-size: 25px;
    font-family:'Smooch Sans', sans-serif; 
    border-style: solid;
    border-color: red;
    display: block;
    width: 250px;
    
}
#c{

    
    text-decoration: underline;
    border-style: dashed;
    border-width: 1px;
    font-size: 25px;
    display: block;
    width: 1050px;
    
}
#d{

    text-decoration: none;
    font-size: 25px;
    border: red solid 1px;
    padding: 2px;
    display: inline-block;
}