
/*                     for banner container                */

.banner-container{
    background-image: url("http://localhost/100DaysOfCode/Projects/PGLife/mg/bg.png");
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px #1c1c1c7a;
    background-color: blue;    
    height: 475px;
    width: auto;
    text-align: center;
    padding: 160px 15px;   
}

.city-search{
    padding-right: 25%;
    padding-left: 25%;
    
}

/*          page container      */
.page-container{
    height: 400px ;
    text-align: center;
    padding-top: 75px;
}

.city-image{
    width: 135px;
    height: 135px;
    
}
.cities{
    margin-top: 10px;
    justify-content: center;
}
